<div class="block">
    <h1>Профессиональное консультирование и услуги в области пожарной безопасности</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium dolorum eligendi incidunt voluptates deserunt consequuntur maxime facilis! Harum dolorem placeat laborum exercitationem impedit? Laborum rem quam eum sed dignissimos natus debitis, accusantium exercitationem excepturi, autem nobis ipsum mollitia, culpa minima commodi consectetur possimus doloremque consequatur asperiores? Ratione  minima numquam natus asperiores repellat est, corrupti harum, voluptate cumque omnis qui assumenda officiis mollitia?</p>
    <button class="kurs-btn">Купить</button>
    <img class="kurs-img" src="/img/kurs1.jpg" alt="">
</div>