<div class="block">
    <h1>Наши курсы</h1>
    <hr>
</div>

<div class="card-view">
    <div class="card">
        <p>Профессиональное консультирование и услуги в области пожарной безопасности</p>
        <hr>
        <img src="../img/kurs1.jpg" alt="">
        <hr>
        <p>10 000 ₽</p>
        <a href="/kursi/1"><button>Подробнее</button></a>
    </div>
    <div class="card">
        <p>Переподготовка и повышение квалификации
        </p>
        <hr>
        <img src="../img/kurs2.png" alt="">
        <hr>
        <p>10 000 ₽</p>
        <a href="/kursi/2"><button>Подробнее</button></a>
    </div>
</div>