<div class="block">
    <h1>Профессиональное консультирование и услуги в области пожарной безопасности</h1>
    <hr>
    <p>Профессионально окажем консультацию по вопросам обеспечения пожарной безопасности. </p>
    <p>Проведем анализ документов, характеризующих объекта защиты, и его обследование, для получения объективной
        информации о состоянии пожарной безопасности объекта и соблюдении противопожарного режима.</p>
    <p>Подготовим предложения по обеспечению выполнения условий, при которых объект защиты будет соответствовать
        требованиям пожарной безопасности.</p>
    <p>Подготовим частное мнение на соответствие требований пожарной безопасности объекта перед покупкой, аренды и
        возможности использования его под определенные виды деятельности.</p>
    <p>Проведем расчеты по оценке пожарного риска, категории помещений, зданий и наружных установок по пожарной и
        взрывопожарной опасности, количество огнетушителей исходя из требований законодательства</p>
    <p>Подготовим (проведем корректировку) декларации пожарной безопасности.</p>
    <p>Проведем обучение мерам пожарной безопасности лиц, осуществляющих трудовую или служебную деятельность в
        организации (проведение вводного, первичного на рабочем месте, повторного противопожарного инструктажа).</p>
    <p>
        Подготовим пакет организационно-распорядительной и иной документации по обеспечению пожарной безопасности:
    <ul>
        <li>назначении ответственного за пожарную безопасность</li>
        <li>порядке обучения лиц мерам пожарной безопасности организации</li>
        <li>инструкции о мерах пожарной безопасности, о порядке действия дежурного персонала при получении сигналов о
            пожаре и неисправности установок противопожарной защиты объекта</li>
        <li>журнал учёта противопожарных инструктажей</li>
        <li>план эвакуации людей при пожаре</li>
        <li>журнал учета проведения практических тренировок по эвакуации</li>
        <li>журнал эксплуатации систем противопожарной защиты</li>
    </ul>
    </p>
    <p>Поможем в подборе подрядных организаций, осуществляющих услуги по монтажу, техническому обслуживанию и ремонту
        средств обеспечения пожарной безопасности зданий и сооружений и проведении других работ и услуг, а также
        обеспечим контроль за исполнением оказываемых работ.</p>
    <p>Подготовим частное мнение на соответствие требований пожарной безопасности проектных решений на средства
        обеспечения пожарной безопасности зданий и сооружений введенных в эксплуатацию.</p>
    <p>Окажем услуги по проектированию средств обеспечения пожарной безопасности зданий и сооружений введенных в
        эксплуатацию.</p>
</div>

<div class="block">
    <h1>Обучение в области пожарной безопасности по дополнительным профессиональным программам</h1>
    <hr>
    <p>1. Повышение квалификации для руководителей организаций, индивидуальных предпринимателей, лиц, назначенных
        руководителем организации, индивидуальным предпринимателем ответственными за обеспечение пожарной безопасности,
        в том числе в обособленных структурных подразделениях организации.</p>
    <p>2. Повышение квалификации для руководителей эксплуатирующих и управляющих организаций, осуществляющих
        хозяйственную деятельность, связанную с обеспечением пожарной безопасности на объектах защиты, лиц, назначенных
        ими ответственными за обеспечение пожарной безопасности.</p>
    <p>3. Повышение квалификации для ответственных должностных лиц, занимающих должности главных специалистов
        технического и производственного профиля, должностных лиц, исполняющих их обязанности, на объектах защиты,
        предназначенных для проживания или временного пребывания 50 и более человек одновременно (за исключением
        многоэтажных жилых домов), объектов защиты, отнесенных к категориям повышенной взрывопожароопасности,
        взрывопожароопасности, пожароопасности.</p>
    <p>4. Повышение квалификации для лиц, на которых возложена трудовая функция по проведению противопожарного
        инструктажа</p>
    <p>5. Профессиональная переподготовка для получения квалификации "Специалист по противопожарной профилактике.</p>
</div>

<div class="block">
    <h1>Обучение в сфере охраны труда </h1>
    <hr>
    <ul>
        <p>обучение руководителей и специалистов по охране труда</p>
        <p>обучение рабочих по охране труда</p>
        <p>проверка знаний требований охраны труда</p>
    </ul>
</div>