<div class="login" id="login">
    <div class="login-wrapper">
        <form action="/" id="formLogin">
            <div class="form-wrapper">
                <div class="close">
                    <i id="closeForm" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                </div>
                <p>Вход в систему</p>
                <input name="login" id="inpLoginLog" type="text" placeholder="Логин" required>
                <input name="password" id="inpPasswordLog" type="text" placeholder="Пароль" required>
                <input id="btnSubmit" type="submit" value="Войти">
                <a href="#" id="loginLink">Зарегистрироваться?</a>
                <span id="alertLog"> </span>
            </div>
        </form>
    </div>
</div>