<div class="login" id="register">
    <div class="login-wrapper">
        <form action="/" id="formRegister">
            <div class="form-wrapper">
                <div class="close">
                    <i id="closeFormReg" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                </div>
                <p>Регистрация</p>
                <input name="name" id="inpName" type="text" placeholder="ФИО" required>
                <input name="phone" id="inpPhone" type="tel" placeholder="Телефон" required>
                <input name="login" id="inpLogin" type="text" placeholder="Логин" required>
                <input name="password" id="inpPassword" type="password" placeholder="Пароль" required>
                <input name="passwordReq" id="inpPasswordReq" type="password" placeholder="Повтор пароль" required>
                <input id="btnSubmitReg" type="submit" value="Зарегистрироваться">
                <a href="#" id="registerrLink">Войти в систему?</a>
                <span id="alertReg"> </span>
            </div>
        </form>
    </div>
</div>